.description {
  height: 150px;
}

.card-title {
  padding: 5px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 3px;
}

.card-subtitle {
  text-align: center;
}

.card-footer {
  padding: .2rem 1.25rem;
  cursor: pointer;
  text-align: center;
}
