<button type="button" (click)="signOut()"name="button">Odjava</button>
<div class="container">
  <div class="row separate-top">
    <div class="col-lg-3">
      <img src="{{professor.image.url}}" class="rounded" width="200" height="200" alt="user-image">
      <input type="file" (change)="fileChange($event)" placeholder="Upload file">
    </div>
    <div class="col-lg-6">
      <form [formGroup]="profileForm" (ngSubmit)="submit()" novalidate>
        <div class="form-group">
          <label for="">Ime</label>
          <input type="text" class="form-control" formControlName="first_name" [(ngModel)]="professor.first_name">
          <div *ngIf="!profileForm.get('first_name').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Unesite ime
          </div>
        </div>
        <div class="form-group">
          <label for="">Prezime</label>
          <input type="text" class="form-control" formControlName="last_name" [(ngModel)]="professor.last_name">
          <div *ngIf="!profileForm.get('last_name').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Unesite prezime
          </div>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" formControlName="email" [(ngModel)]="professor.email">
          <div *ngIf="!profileForm.get('email').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Unesite email
          </div>
        </div>
        <div class="form-group">
          <label for="">Mobilni telefon</label>
          <input type="text" class="form-control" formControlName="mobile_phone" [(ngModel)]="professor.mobile_phone">
          <div *ngIf="!profileForm.get('phone').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Unesite telefon
          </div>
        </div>
        <div class="form-group">
          <label for="">Fiksni telefon</label>
          <input type="text" class="form-control" formControlName="phone" [(ngModel)]="professor.phone">
          <div *ngIf="!profileForm.get('phone').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Unesite fiksni telefon
          </div>
        </div>
        <div class="form-group">
          <label for="">Facebook profil</label>
          <input type="text" class="form-control" formControlName="facebook" [(ngModel)]="professor.facebook">
        </div>
        <div class="form-group">
          <label for="">Adresa</label>
          <input type="text" class="form-control" formControlName="street_name" [(ngModel)]="professor.street_name">
        </div>
        <div class="form-group">
          <label for="">Grad</label>
          <select class="form-control" formControlName="city_id" [(ngModel)]="professor.city_id">
            <option *ngFor="let city of cities" [value]=city.id [attr.selected]="city.id == professor.city ? '' : null">{{city.name}}</option>
          </select>
          <div *ngIf="!profileForm.get('city_id').valid && formSubmitted" class="alert alert-danger error-separate-top">
            Izaberite grad
          </div>
        </div>

        <button type="submit" class="btn btn-send">Sacuvaj</button>
        <div class="alert alert-success float-right" *ngIf="updated === true">
            Profil Izmenjen
        </div>
        <ngb-alert *ngIf="profileUpdated" type="success" (close)="profileUpdated = null">Uspesno ste izmenili profil</ngb-alert>
      </form>
    </div>
  </div>
</div>
