.offer-title {
  overflow: hidden;
}

.card-header, .card-footer {
  padding-top: 2px;
  padding-bottom: 2px;
}

.container {
  margin-top: 15px;
}

.subcard {
  margin: 5px;
}

.subcard-block {
  padding: 4px;
  min-width: 250px;
}

.btn-sm {
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-footer {
  font-size: 0.9em;
}

.subtext {
  font-size: 0.9em;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.list-separator {
  margin-top: 30px;
}

.deactivated {
  background: #9E9E9E;
}
