<app-nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <ul class="list-group list-group-flush">
            <a class="list-separator" *ngFor="let offer of offers">
              <div class="filter-bar">
                <div class="offer-main">
                  <div class="filter-title">
                    <span class="">{{offer.title}}</span>
                    <div ngbDropdown class="d-inline-block">
                      <i class="fa fa-cog" ngbDropdownToggle></i>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" routerLink="/offers/{{offer.id}}">Pregledaj</button>
                        <button class="dropdown-item" (click)="changeOfferState(offer.id, offer.active)">{{ offer.active ? 'Deaktiviraj' : 'Aktiviraj' }}</button>
                        <button class="dropdown-item" routerLink="/offers/{{offer.id}}/edit">Izmeni</button>
                        <button class="dropdown-item" (click)="removeOffer(offer.id)">Obrisi</button>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="filter-description">
                    <div class="card-text flex horizontal-align">
                      <div *ngFor="let subject of offer.subjects" class="card subcard">
                        <div [ngClass]=" offer.active ? 'card-block subcard-block' : 'card-block subcard-block deactivated'">
                          <span class="flex horizontal-align">{{subject.title}}</span>
                          <span class="flex horizontal-align subtext">{{subject.course.title}}</span>
                          <span class="flex horizontal-align subtext">{{subject.course.faculty.name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter-footer">
                  <div class="footer-elements">
                    <span class="">Broj Časova: {{offer.number_of_sessions}}</span>
                    <span class="">Cenovni rang: {{offer.prices[0].price | number}} - {{offer.prices[offer.prices.length - 1].price | number}}</span>
                  </div>
                </div>
              </div>
              <hr>
            </a>
        </ul>
      </div>
    </div>
  </div>
</app-nav>
