@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/buttons.css";

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.vertical-align {
  align-items: center;
}

.horizontal-align {
  justify-content: center;
}

.pull-right {
  justify-content: flex-end;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.btn-small {
  height: 15%;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.no-wrap {
  flex-wrap: nowrap;
}
